<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>811745360598-3h1ehsr8ij7mqlb91ad6aevt5lj2lie6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811745360598-3h1ehsr8ij7mqlb91ad6aevt5lj2lie6</string>
	<key>API_KEY</key>
	<string>AIzaSyDYByuacUz3Q5LtaXJXI-U4K5in-bkQ-MU</string>
	<key>GCM_SENDER_ID</key>
	<string>811745360598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AppCo.NewsBeta1</string>
	<key>PROJECT_ID</key>
	<string>news-cc704</string>
	<key>STORAGE_BUCKET</key>
	<string>news-cc704.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:811745360598:ios:31ced4be393dcbc2</string>
	<key>DATABASE_URL</key>
	<string>https://news-cc704.firebaseio.com</string>
</dict>
</plist>